
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <link href="/public/assets/style.css" rel="stylesheet" type="text/css" />
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <section id="page">
        <header>
            <p id="welcomeMsg">Welcome <strong><%= currentUser.username %></strong></p>
            <h1 id="myNoteLabel">My Notes</h1>
        </header>
            <nav>
                <!-- <li><a href="/notes/new">Add Note</a></li> -->
                <a href="/notes/new"><img id="smLogo" src="/public/assets/addBtn.png" alt="MyLogo2" width="120"></a>
                <a id="logoutBtn" href="/logout">Logout</a>
            </nav>
            <main>
                    <% notes.forEach(function(note){ %>
                        <div class="noteContainer">
                           <div>
                            <h4 id="noteTitle"><%= note.title %></h4>
                            <!-- <textarea id="contentArea" name="" id="" cols="30" rows="10" disabled><%= note.content %></textarea> -->
                            <p id="contentArea"><%= note.content %></p>
                           </div>
                           <div class="notesBtns">
                               <form id="showBtnForm" action="/notes/<%= note._id %>">
                                <button>Show</button>
                                </form>
                                <form id="dltBtnForm" action="/notes/<%= note._id %>?_method=DELETE" method="POST">
                                    <button>Delete</button>
                                </form>
                           </div>
                    </div>
                    <% }); %>
            </main>
            <!-- <footer>
            </footer> -->
    </section>
</body>
</html>